[submodule "FirstSubModulesTestProject"]
	path = FirstSubModulesTestProject
	url = https://github.com/AMyp4aHuH/FirstSubModulesTestProject.git
	branch = main
[submodule "SecondSubModulesTestProject"]
	path = SecondSubModulesTestProject
	url = ../SecondSubModulesTestProject.git
